<%-contentFor('body')%>
<div class="jumbotron text-center">
    <p>Cadastro</p>
    <h1 >
        Lista de usuarios cadastrados
    </h1>
    <h3>Lista de usuários cadastrados</h3>
    <table>
        <!--criar uma lista d ecadastro-->
    </table>
</div>
